<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>尚墙强绘有限公司</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/abstract.css">
</head>
<body>
<%include common/header.ejs %>
<div class="main-title">
    <div class="l-rail"></div>
    <p class="main-shang">尚城墙绘<br><span>联系方式</span></p>
    <div class="r-rail"></div>
</div>

<div class="back">
    <div class="abstract">
        <p>尚城墙绘</p>
        <p>经理：刘仁</p>
        <p>电话：13213377585</p>
        <p>邮箱：942785030@qq.com</p>
        <p>地址：信阳市浉河区申城大道泰和文馨1号楼502室</p>
    </div>
</div>

<%include common/footer.ejs %>
</body>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/base.js"></script>
</html>