<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/case.css">
    <title>尚城墙绘有限公司</title>
</head>
<body>
<%include common/header.ejs %>

<div class="main-title">
    <div class="l-rail"></div>
    <p class="main-shang">尚城墙绘<br><span>作品展示</span></p>
    <div class="r-rail"></div>
</div>

<div class="dbg">
    <div class="backdrop">
        <div class="carte">
            <div class="carte-top">
                <div class="classify">产品分类</div>
                <ul>
                    <li class="xz" style="background: #d0d0d0">
                        <div class="classify-thr zone"></div>
                        <p>家装彩绘</p>
                    </li>
                    <li class="xz">
                        <div class="classify-thr ztwo"></div>
                        <p>工装彩绘</p>
                    </li>
                    <li class="xz">
                        <div class="classify-thr zthree"></div>
                        <p>幼儿园彩绘</p>
                    </li>
                </ul>
            </div>
            <div class="carte-bot">
                <div class="classify">联系我们</div>
                <ul>
                    <li>联系人：刘任</li>
                    <li>电话：13213377585</li>
                    <li>邮箱：942785030@qq.com</li>
                    <li>地址：信阳市浉河区申城大道泰和文馨1号楼502室</li>
                </ul>
            </div>
        </div>
        <div class="reveal" style="display: block">
            <div class="reveal-title">家装彩绘</div>
            <div class="reveal-cond">
                <ul>

                </ul>
            </div>
        </div>
        <div class="reveal">
            <div class="reveal-title">工装彩绘</div>
            <div class="reveal-cond">
                <ul>

                </ul>
            </div>
        </div>
        <div class="reveal">
            <div class="reveal-title">幼儿园彩绘</div>
            <div class="reveal-cond">
                <ul>

                </ul>
            </div>
        </div>
    </div>
</div>
<%include common/footer.ejs %>
</body>
<script>var imgPath = JSON.parse(decodeURIComponent('<%= imagePath %>'))</script>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/case.js"></script>
<script src="/js/base.js"></script>
</html>