<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />-->
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
	<%include common/header.ejs %>
    <div class="main-container">
        <div class="container-fluid content-text">
            <p class="advert-text">尚城墙绘设计工作室</p>
            <p class="advert-text">现代家庭装饰墙画<span></span>商业墙绘<span></span>我们更专业</p>
        </div>
        <div class="container-fluid cir-container">
            <div class="cir-content container-fluid">
                <div class="cir-box">
                    <div class="lf-cir">
                        <img src="/img/tx1.png">
                    </div>
                    <div class="rt-content">
                        <p>尚城墙绘</p>
                        <p>五年室内设计经验</p>
                        <p>毕业于西安美术学院</p>
                    </div>
                </div>
                <div class="cir-box">
                    <div class="lf-cir">
                        <img src="/img/tx2.png">
                    </div>
                    <div class="rt-content">
                        <p>尚城墙绘</p>
                        <p>六年工装行业设计经验</p>
                        <p>毕业湖北美术学院</p>
                    </div>
                </div>
                <div class="cir-box">
                    <div class="lf-cir">
                        <img src="/img/tx3.png">
                    </div>
                    <div class="rt-content">
                        <p>尚城墙绘</p>
                        <p>四年专业墙绘设计师</p>
                        <p>毕业于鲁迅美术学院</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="trans-content"></div>
        <div class="conduct">
            <div class="cond-text">
                <p>我用心 您放心</p>
            </div>
            <div class="cond-img">
                <div class="container-fluid cond-top">
                    <div class="col-lg-7 col-md-6 col-xs-6 col-img"><img class="img-1" src="/img/sy.jpg"></div>
                    <div class="col-lg-5 col-md-6 col-xs-6 col-text-o">
                        <p class="text-main">信阳市尚城墙绘工作团队</p>
                        <p class="text-sub">从事手绘壁画涂鸦及艺术产品绘画</p>
                        <p class="text-sub">从事手绘工作的专业人员</p>
                        <p class="text-sub">造型能力强，绘画功底深厚</p>
                        <p class="text-sub">具有独特的审美和创造能力</p>
                    </div>
                </div>
                <div class="container-fluid cond-bottom">
                    <div class="col-lg-5 col-md-6 col-xs-6 col-text-t">
                        <p class="text-main">信阳市尚城墙绘工作团队</p>
                        <p class="text-sub">倡导优质、诚信、高效的绘画工程</p>
                        <p class="text-sub">优质、客户至上的准则</p>
                        <p class="text-sub">满足广大客户日益增长的家居装饰</p>
                        <p class="text-sub">营造和倡导审美与生活融合</p>
                    </div>
                    <div class="col-lg-7 col-md-6 col-xs-6 col-img"><img class="img-2" src="/img/sy1.jpg"></div>
                </div>
            </div>
            <div class="cond-text">
                <p>每个作品都来源于我们用心的创作</p>
            </div>
            <div class="cond-works">
                <div class="option">
                    <div class="option-dra option-active"><span>家装彩绘</span></div>
                    <div class="option-dra"><span>幼儿园彩绘</span></div>
                    <div class="option-dra"><span>工装彩绘</span></div>
                </div>
                <div class="option-img" style="display: block;">
                    <ul class="option-img-home">

                    </ul>
                </div>
                <div class="option-img">
                    <ul class="option-img-home">

                    </ul>
                </div>
                <div class="option-img">
                    <ul class="option-img-home">

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <%include common/footer.ejs %>
    <div class="fix-bg"></div>
</body>
<script>var imgPath = JSON.parse(decodeURIComponent('<%= imagePath %>'))</script>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/homepage.js"></script>
<script src="/js/base.js"></script>
</html>