<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="setting">
        <div class="land">
            <div class="title">
                <div class="title-left"></div>
                <div class="title-right">
                </div>
            </div>
            <div class="account">
                <p>账号</p>
                <input type="text" class="txt txto"/>
            </div>
            <div class="account">
                <p>密码</p>
                <input type="password" class="txt txtt"/>
            </div>
            <div class="keep">
                <input type="checkbox" class="bz"/>
                <p>保存用户信息</p>
            </div>
            <input type="button" class="ashore" value="登陆" id="login">
        </div>
    </div>

</body>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    $(".ashore").click(function(){
        $.post("/login",
            {
                userName:$('.txto').val(),
                passWord:$('.txtt').val()
            },
            function(data,status){
                if (data.errorNo == 0) {
                    window.location.href="/setimage"
                }
            });
    });

    var log=document.getElementById('login')
    var txto=document.getElementsByClassName('txto')[0]
    var bz=document.getElementsByClassName('bz')[0]

    function setCookie(name, value, iDay)
    {
        var oDate=new Date();
        oDate.setDate(oDate.getDate()+iDay);

        document.cookie=name+'='+value+';expires='+oDate;
    }
    function getCookie(name) {
        var arr=document.cookie.split('; ');

        for(var i=0;i<arr.length;i++) {
            var arr2=arr[i].split('=');
            if(arr2[0]==name) {
                return arr2[1];
            }
        }
        return '';
    }
    function removeCookie(name) {
        setCookie(name, 1, -1);
    }

    if (bz.checked) {
        setCookie('userName',txto.value,14)
    }else{
        removeCookie('userName')
    }
    txto.value = getCookie('userName')

    bz.onclick = function () {
        if (bz.checked) {
            bz.checked=true
        }else {
            bz.checked=false
        }
    }
</script>
</html>