<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>尚墙强绘有限公司</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/procedure.css">
</head>
<body>
<%include common/header.ejs %>

<div class="main-title">
    <div class="l-rail"></div>
    <p class="main-shang">尚城墙绘<br><span>流程报价</span></p>
    <div class="r-rail"></div>
</div>

<div class="flow">
    <div class="flow-1"><p class="flow-text">沟通确认</p></div>
    <div class="flow-2"><p class="flow-text">签订合同</p></div>
    <div class="flow-3"><p class="flow-text">方案设计</p></div>
    <div class="flow-4"><p class="flow-text">进场施工</p></div>
    <div class="flow-5"><p class="flow-text">质量验收</p></div>
    <div class="flow-6"><p class="flow-text">售后保障</p></div>
</div>

<div class="quote">
    <img src="/img/lbj.jpg">
</div>

<%include common/footer.ejs %>
</body>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/base.js"></script>
</html>