<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>尚城墙绘有限公司</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/synopsis.css">
</head>
<body>
    <%include common/header.ejs %>
        <div class="main-title">
            <div class="l-rail"></div>
            <p class="main-shang">尚城墙绘<br><span>专业从事手绘壁画涂鸦及艺术产品绘画</span></p>
            <div class="r-rail"></div>
        </div>
        <div class="service">
            <div class="service-ent">
                <img src="/img/contro1-active.png">
                <p>企业介绍</p>
            </div>
            <div class="service-ent">
                <img src="/img/contro2.png">
                <p>服务项目</p>
            </div>
            <div class="service-ent">
                <img src="/img/contro3.png">
                <p>服务理念</p>
            </div>
            <div class='arrow'></div>
        </div>

        <div class="service-text container-fluid" style="display: block;">
            <div class="col-lg-6 col-md-6 service-img">
                <img src="/img/qy.jpg">
            </div>
            <div class="col-lg-6 col-md-6 service-img">
                <div class="service-cond">
                    <p class="service-front">信阳市尚城墙绘有限公司</p>
                    <p>2007年成立至今，一直本着“创新、专业、精细、时尚”的绘画理念，对项目工程严格把关。在整体完善的情况下，重点将细节完美化，同时壁画颜料要完全把墙体牢牢覆盖住，保证壁画的寿命。我们公司正是本着这个原则，才在客户心目中留下深刻印象。</p>
                    <p>我们由专业的画家与画师,装饰设计师,家庭墙面彩绘画师,平面设计师,空间结构师,以及专业的摄影与创意人员组成的团队.设计\绘制\业务\分工明确,是一个有创造力,有责任心,有激情的团队。</p>
                </div>
            </div>
        </div>
        <div class="service-text">
            <div class="col-lg-6 service-img">
                <img src="/img/xm.png">
            </div>
            <div class="col-lg-6 service-img">
                <div class="service-cond">
                    <p class="service-front">信阳市尚城墙绘有限公司</p>
                    <p>我们的服务项目:壁画/彩绘（室内外酒店\商场\博物馆\校园\幼儿园\办公大楼）建筑彩绘（古建筑彩绘\现代建筑彩绘）产品彩绘（汽车\道具\服饰\皮包\家具）家庭墙体彩绘（家庭墙面彩绘\手绘墙面\手绘电视背景墙\装饰壁画）。</p>
                    <p>承接墙绘壁画:家居墙绘壁画,幼儿园校园墙绘,儿童游乐园壁画,寺庙古建壁画,别墅壁画,酒店壁画工程,天文馆壁画,海洋馆3D壁画,宾馆墙绘配画,洗浴中心和写字楼等场所墙绘壁画工程,私家壁画,天顶彩绘壁画,漆画工艺,隐形壁画,夜光壁画,墙体绘画,地铁壁画,建筑彩绘,佛教壁画工程,室内外墙彩绘,专业户外壁画制作,专业室内壁画制作！</p>
                </div>
            </div>
        </div>
        <div class="service-text">
            <div class="col-lg-6 service-img">
                <img src="/img/ln.png">
            </div>
            <div class="col-lg-6 service-img">
                <div class="service-cond">
                    <p class="service-front">信阳市尚城墙绘有限公司</p>
                    <p>倡导优质、诚信、高效的绘画工程，基于诚信、优质、客户至上的准则，从零做起，目标是满足广大客户日益增长的家居装饰、工装装饰需求，全新营造和倡导审美与生活融合，掀起国内墙上装饰的热潮，成为国内墙上艺术装饰品交易的最佳绘画公司！选择我们，不会让您失望。</p>
                </div>
            </div>
        </div>
    <%include common/footer.ejs %>
</body>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/synopsis.js"></script>
<script src="/js/base.js"></script>
</html>