<div class="footer">
    <div class="footer-text">
        <div class="footer-c"></div>
        <p>联系我们</p>
        <ul>
            <li>尚城墙绘有限公司</li>
            <li>Tel:13213377585</li>
            <li>Mail:942785030@qq.com</li>
            <li>Add:信阳市浉河区申城大道泰和文馨1号楼502室</li>
        </ul>
    </div>
    <div class="copy-right">
        ©尚城墙绘有限公司 豫ICP备18002952号-1
    </div>
</div>
<script src="/js/vdatasdk.min.js"></script>